Repository RaphaZ99/skymed-mobile, pull requests merged in 2021-03, with the labels that each got.

#1 Ajustes layout login
  .gitignore
  lib/views/login.dart
  lib/widgets/componentes/app-bar/barra_topo.dart
  lib/widgets/componentes/app-bar/logo.dart
  lib/widgets/componentes/card-campo/botao.dart
  lib/widgets/componentes/card-campo/campo.dart
  lib/widgets/componentes/divisor/divisor.dart
  lib/widgets/model/model.dart
Labels: enhancement

#11 Layout cadastro paciente
  lib/routes/app_routes.dart
  lib/views/cadastro-paciente-fim.dart
  lib/views/cadastro-paciente-inicio.dart
  lib/views/login.dart
  lib/widgets/componentes/tema/circulos-topo.dart
Labels: Criação de layout

#13 Listagem consultas
  assets/images/icone-medico.png
  lib/routes/app_routes.dart
  lib/views/cadastro-paciente-fim.dart
  lib/views/cadastro-paciente-inicio.dart
  lib/views/listagem-medicos.dart
  lib/views/login.dart
  lib/widgets/componentes/app-bar/barra_topo.dart
  lib/widgets/componentes/card-campo/botao.dart
  lib/widgets/componentes/card-campo/campo.dart
  lib/widgets/componentes/divisor/divisor.dart
  lib/widgets/componentes/listagem/botao-filtro.dart
  lib/widgets/componentes/listagem/card-medico.dart
  lib/widgets/componentes/modal/item-modal.dart
  lib/widgets/componentes/modal/modal-filtros.dart
  lib/widgets/componentes/modal/modal-ordenacao.dart
  pubspec.yaml
Labels: Ajuste de layout, Criação de componente, Criação de layout

#14 Layout redefinir senha
  lib/routes/app_routes.dart
  lib/views/login.dart
  lib/views/recuperar-senha-paciente-codigo.dart
  lib/views/recuperar-senha-paciente-informar-email.dart
  lib/views/recuperar-senha-paciente-nova-senha.dart
  lib/widgets/componentes/card-campo/containerInputTexto.dart
Labels: Ajuste de layout, Criação de componente, Criação de layout
